@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Admin/**/*';
@source '../../../../resources/views/filament/admin/**/*';

.fi-sidebar-group-label {
    @apply uppercase;
}

.fi-sidebar-nav {
    @apply bg-white dark:bg-gray-900;
}

.fi-fo-field-label-col > .fi-fo-field-label-ctn {
    @apply inline;
}

.fi-fo-field-label-col > .fi-fo-field-label-ctn > .fi-sc {
    @apply justify-start;
}

.fi-main-sidebar {
    @apply dark:bg-gray-900 bg-white border-r border-gray-200 dark:border-gray-900;
}